body {
  background-color: rgb(34, 193, 195);
  background-image: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 9%,
    rgba(56, 107, 66, 1) 100%
  );
  min-height: 100vh;
}

body {
  background-image: url('./img/water.jpg');
  background-position: center center;
  background-size: cover;
}

.welcome {
  color: white;
  font-size: 6rem;
  font-weight: 700;
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.buttonArea {
  height: 3rem;
  min-width: 10rems;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
