body {
  background-image: url('./img/bk7.png');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Lora', serif;
}
.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Lora', serif;
}

.navbar {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Lora', serif;
}

.banner {
  width: 135vh;
  height: auto;
}
.buttonArea {
  height: 3rem;
  min-width: 10rems;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.time-display {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 50px;
}

.login-container {
  background: rgb(255, 255, 255);
  padding: 3%;
  width: min-content;
}
