body {
  background-color: rgb(34, 193, 195);
  background-image: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 9%,
    rgba(56, 107, 66, 1) 100%
  );
  min-height: 100vh;
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
